{% extends 'base.html.twig' %}

{% block title %}Condition de vente{% endblock %}

{% block body %}



    <section class="bg-fond">
        <div class="max-w-3xl mx-auto py-8 px-4 text-white">
            <h1 class="text-3xl font-bold text-center mb-8">Conditions Générales de Vente (CGV)</h1>

            <div class="mb-8">
                <p class="pb-5">Mise à jour : Mai 2024</p>
                <h2 class="text-xl font-bold">1. Objet</h2>
                <p>Les présentes Conditions Générales de Vente (CGV) régissent les relations contractuelles entre [Votre
                    Entreprise], ci-après dénommé "le Vendeur", et ses clients, ci-après dénommés "le Client", dans le cadre
                    de la vente de cours, de documentations et d'abonnements.</p>
            </div>

            <div class="mb-8">
                <h2 class="text-xl font-bold">2. Produits et Services</h2>
                <ul class="list-disc pl-8">
                    <li>Cours dans divers domaines.</li>
                    <li>Documentations associées aux cours.</li>
                    <li>Abonnements mensuels ou annuels offrant un accès illimité aux cours et documentations.</li>
                </ul>
            </div>

            <div class="mb-8">
                <h2 class="text-xl font-bold">3. Prix et Paiement</h2>
                <p>Les prix des produits et services sont indiqués en euros et sont ceux en vigueur au moment de la commande.
                    Les prix peuvent être modifiés à tout moment par le Vendeur, mais les modifications ne seront pas
                    applicables aux commandes déjà passées.</p>
                <p>Le paiement des produits et services peut s'effectuer de la manière suivante :</p>
                <ul class="list-disc pl-8">
                    <li>Pour les cours et documentations individuels : paiement à la commande.</li>
                    <li>Pour les abonnements :
                        <ul class="list-disc pl-8">
                            <li>Paiement mensuel : prélèvement automatique chaque mois.</li>
                            <li>Paiement annuel : paiement en une fois à la commande.</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="mb-8">
                <h2 class="text-xl font-bold">4. Livraison</h2>
                <p>Les cours et documentations sont accessibles en ligne via un espace client sécurisé dès confirmation du
                    paiement.</p>
            </div>

            <div class="mb-8">
                <h2 class="text-xl font-bold">5. Droit de Rétractation</h2>
                <p>Conformément à la législation en vigueur, le Client dispose d'un délai de rétractation de 14 jours à
                    compter de la date de souscription à un abonnement pour exercer son droit de rétractation, sans avoir à
                    justifier de motifs ni à payer de pénalités.</p>
            </div>

            <div class="mb-8">
                <h2 class="text-xl font-bold">6. Responsabilité</h2>
                <p>Le Vendeur s'engage à fournir les produits et services avec diligence et professionnalisme. Toutefois, sa
                    responsabilité ne pourra être engagée en cas de force majeure ou de perturbation imprévisible affectant
                    la fourniture des produits et services.</p>
            </div>

            <div class="mb-8">
                <h2 class="text-xl font-bold">7. Données Personnelles</h2>
                <p>Le Client est informé que ses données personnelles collectées dans le cadre de la commande sont nécessaires
                    au traitement de celle-ci. Le Client dispose d'un droit d'accès, de rectification et de suppression de ses
                    données personnelles.</p>
            </div>

            <div class="mb-8">
                <h2 class="text-xl font-bold">8. Litiges et Juridiction Applicable</h2>
                <p>En cas de litige, les parties s'engagent à rechercher une solution amiable. À défaut, les tribunaux
                    compétents seront ceux du lieu du siège social du Vendeur.</p>
            </div>

        </div>
    </section>



{% endblock %}