{% extends 'base.html.twig' %}

{% block title %}Cours partie 2 {% endblock %}

{% block body %}

    <p>TEST</p>
    <p>TEST</p>


    {{ include('re-use/pagination.html.twig') }}















{% endblock %}
