<p>Bonjour {{ user.firstname }},</p>
<p>Votre abonnement a été confirmé avec succès.</p>
<p>Début d'abonnement : {{ startDate|date('Y-m-d') }}</p>
<p>Fin d'abonnement : {{ endDate|date('Y-m-d') }}</p>
<p>Merci de votre confiance !</p>
