

{% extends 'base.html.twig' %}

{% block title %}Modification de l'abonnement{% endblock %}

{% block body %}

    <div style="padding-top: 20px;">
        <h2>Résilier mon abonnement</h2>
        <a href="{{ path('app_unsubscribe') }}">Validation de ma résiliation</a>
    </div>

{% endblock %}
