{% block subject %}Confirmation de désabonnement{% endblock %}

{% block body %}
    <p>Bonjour {{ infoUser.firstname }},{{ infoUser.lastname }}</p>

    <p>Nous vous confirmons que votre désabonnement a été pris en compte avec succès.</p>

    <p>Si vous avez des questions ou des préoccupations, n'hésitez pas à nous contacter.</p>

    <p>Merci,</p>
    <p>L'équipe de votre application</p>
{% endblock %}