<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nouveau message de contact</title>
</head>
<body>
<h1>Nouveau message de contact</h1>
<p>Vous avez reçu un nouveau message de contact.</p>
<p><strong>Full name :</strong> {{ contact.getFullName() }}</p>
<p><strong>Email :</strong> {{ contact.getEmail() }}</p>
<p><strong>Message :</strong> {{ contact.getMessage() }}</p>
</body>
</html>
