{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
    <section class="bg-fond">
        <div class="max-w-3xl mx-auto py-8 px-4 text-white"> <!-- Ajout de la classe text-white pour changer la couleur du texte -->
            <h1 class="text-3xl font-bold text-center mb-8">Politique de Confidentialité</h1>

            <p class="pb-5">Mise à jour : Mai 2024</p>

            <p class="pb-5">La protection de vos données personnelles est une priorité pour [Votre Entreprise]. Cette politique de confidentialité décrit la manière dont nous recueillons, utilisons, divulguons et protégeons vos informations personnelles lorsque vous utilisez nos services.</p>

            <div class="mb-8">
                <h2 class="text-xl font-bold">1. Collecte des Informations</h2>
                <p>Nous recueillons des informations personnelles lorsque vous vous inscrivez à nos services, effectuez des achats ou interagissez avec notre site Web. Les informations personnelles que nous pouvons collecter comprennent, mais ne se limitent pas à :</p>
                <ul class="list-disc pl-8">
                    <li>Votre nom</li>
                    <li>Votre adresse e-mail</li>
                    <li>Votre adresse postale</li>
                    <li>Votre numéro de téléphone</li>
                    <li>Les informations de paiement</li>
                </ul>
            </div>

            <div class="mb-8">
                <h2 class="text-xl font-bold">2. Utilisation des Informations</h2>
                <p>Nous utilisons les informations collectées pour fournir nos services, traiter vos commandes, communiquer avec vous, personnaliser votre expérience et améliorer nos produits et services.</p>
            </div>

            <div class="mb-8">
                <h2 class="text-xl font-bold">3. Divulgation des Informations</h2>
                <p>Nous ne vendons, n'échangeons ni ne louons vos informations personnelles à des tiers. Cependant, nous pouvons divulguer vos informations dans les cas suivants :</p>
                <ul class="list-disc pl-8">
                    <li>Pour se conformer à la loi, aux règlements ou aux demandes gouvernementales.</li>
                    <li>Pour protéger nos droits, notre propriété ou notre sécurité, ainsi que ceux de nos utilisateurs ou du public.</li>
                </ul>
            </div>

            <div class="mb-8">
                <h2 class="text-xl font-bold">4. Sécurité des Informations</h2>
                <p>Nous mettons en place des mesures de sécurité pour protéger vos informations personnelles contre toute perte, utilisation abusive, accès non autorisé, divulgation ou altération.</p>
            </div>

            <div class="mb-8">
                <h2 class="text-xl font-bold">5. Vos Choix</h2>
                <p>Vous pouvez choisir de limiter la collecte ou l'utilisation de vos informations personnelles en nous contactant. Cependant, cela peut affecter votre capacité à utiliser certains de nos services.</p>
            </div>

            <div class="mb-8">
                <h2 class="text-xl font-bold">6. Modifications de la Politique de Confidentialité</h2>
                <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les modifications prendront effet dès leur publication sur notre site Web.</p>
            </div>

            <div class="mb-8">
                <h2 class="text-xl font-bold">7. Contact</h2>
                <p>Si vous avez des questions concernant cette politique de confidentialité, veuillez nous contacter à [adresse e-mail ou numéro de téléphone].</p>
            </div>
        </div>
    </section>




{% endblock %}
